{ 	
"_comment" : "These are the files to describe the geometry.",
"geometry_original_stl" : "pipe_Srf_prep.stl",
"centerline_vtp" : "pipe_Ctl_prep.vtp",
"stent_mesh_base" : "stent_",
"_comment2" : "These are the parameters for voxelisation.", 
"target_elements" : "500000",
"output_base_name" : "vox_pipe_",
"cutWidth" : "1",
"distance" : "4"
}

