{ 	
"_comment" : "These are the files to describe the geometry.",
"geometry_original_stl" : "t_pipe_Srf_prep.stl",
"centerline_vtp" : "t_pipe_Ctl_prep.vtp",
"stent_mesh_base" : "stent_",
"_comment2" : "These are the parameters for voxelisation.", 
"target_elements" : "1000000",
"output_base_name" : "vox_t_pipe_1M_",
"cutWidth" : "2",
"distance" : "4"
}

