
    <simulation>

        <dt>$dt</dt>	<!-- Desired stime step size [s]. This defines the balance between accuracy and computational cost. -->

        <blockSize>50</blockSize>	<!-- Target atomic block size for domain decomposition. (Side length, LB nodes) -->

        <outputDir>output</outputDir> <!-- Where to put the output files. Relative to this config file.-->

        <simLength>$t_end</simLength> <!-- [s] -->

        <saveFrequency>$save_dt</saveFrequency> <!-- [s] -->

        <mode>aneurysm</mode>

    </simulation>


    <geometry>

        <file>input/vox_C0002_c.npz</file> <!-- Geometry descriptor file location. Relative to this config file. -->

        <!-- Opening types: 1 - Velocity; 2 - Murray (velocity); 3- Pressure; 4 - Freeflow -->

        <!-- Create a separate tag for every opening. -->

        <opening_0>

            <name>Inlet</name>

            <type>1</type>

            <label>11</label>

            <timeScaleFunction>input/cerebral_flowrate.txt</timeScaleFunction>  <!-- Scale function for this opening. -->

            <parameter>$u</parameter> <!-- inlet parameter -->

        </opening_0>

    </geometry>


    <flowdiverter>

        <linCoeff>$l</linCoeff>

        <quadCoeff>$q</quadCoeff>

    </flowdiverter>

    
