{ 	
"_comment" : "These are the files to describe the geometry.",
"geometry_original_stl" : "NAP180_ane_Srf_prep.stl",
"centerline_vtp" : "NAP180_ane_Ctl_prep.vtp",
"stent_mesh_base" : "PED_5x20/PED_5x20_",
"_comment2" : "These are the parameters for voxelisation.", 
"target_elements" : "1000000",
"output_base_name" : "vox_NAP180_ane_",
"cutWidth" : "1",
"distance" : "4"
}

